<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
    <h1 th:text="${title}">Default Title</h1>

    <nav th:replace="fragments :: navigation"></nav>

    <br/>
    <form method="post">
        <p><label>Name:</label></p>
            <input type="text" name="cheeseName" />
        <br/>
        <br/>
        <p><label>Description:</label></p>
            <textarea rows="4" cols="25" name="cheeseDescription"></textarea>
        <br/>
        <input type="submit" value="Add Cheese" />
    </form>


</body>
</html>